body{
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url('../Contenido/FondoPagina.png');
}

.ContenedorGanador{
    text-align: center;
    background-color: burlywood;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    animation: fadeIn 1s ease-in-out;
    align-items: center;
    margin-top: 50px;
}

.contenedortexto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    Font-weight: bold;
    margin-top: 20px;
}

#nombreGanador{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


