body{
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url('../Contenido/FondoPagina.png');
}

.ContenedorFormulario{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    background-color: burlywood;
    animation: fadeIn 1s ease-in-out;
}
.Titulo{
    text-align: center;
    margin-bottom: 20px;
}

.Inputs{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    Font-weight: bold;
}
#Terminos{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    Font-weight: bold;
}
#Boton{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
#Imagen{
    float: right;
    margin-left: 20px; 
    width: 250px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
